html, body{
    height: 100%;
    width: 100%;




}

.pozycjonowanie{
}

#background{
    z-index: -1;
    height: 100%;
    width: 100%;
    position: fixed;

    top:0px;
    left:0px;

    filter: blur(1px);
    opacity: 0.9;
}

.naglowek{
    z-index: 1;
    height: 20%;
    width: 100%;
    background-color: rgb(23, 255, 131);
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.zdjecia1{
    height: 70%;
    width: 15%;
    border-radius: 10px;

    position: fixed;
    
    bottom: 40px;
    left: 25px;

    margin: 0px;
    padding: 0px;
    background-color: rgb(22, 123, 59);
}

.zdjecia2{
    height: 70%;
    width: 15%;
    border-radius: 10px;

    position: fixed;
    
    bottom: 40px;
    right: 25px;

    margin: 0px;
    padding: 0px;
    background-color: rgb(22, 123, 59);

}

.opis_miasta{
    height: 50%;
    width: 30%;
    border-radius: 10px;

    margin: 0px;
    padding: 0px;
    background-color: white;
    
    position: fixed;
    
    top: 250px;
    left: 625px;
}

    .komentarze{
    height: 50%;
    width: 30%;
    border-radius: 10px;

    margin: 0px;
    padding: 0px;
    background-color: white;
    
    display: flex;
    justify-content: flex-end;
}
