html, body{
    height: 100%;
    width: 99%;
}

.pozycjonowanie{
    display: flex;
    height: 90%;
    width: 100%;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
}

.center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 60%;
}

#background{
    z-index: -1;
    height: 100%;
    width: 100%;
    position: fixed;
    top:0px;
    left:0px;

    filter: blur(1px);
    opacity: 0.9;
}

.naglowek{
    z-index: 1;
    height: 20%;
    width: 100%;
    background-color: rgb(23, 255, 131);
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    opacity: 0.8;
    color: white;
    font-size: xx-large;
    text-align: center;
}

.zdjecia1{
    height: 70%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    bottom: 40px;
    left: 25px;

    margin: 0px;
    padding: 0px;
    background-color: rgb(22, 123, 59);
    border: black solid 1px;

    opacity: 1;
}

.zdjecia2{
    height: 70%;
    width: 100%;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    
    bottom: 40px;
    right: 25px;

    margin: 0px;
    padding: 0px;
    background-color: rgb(22, 123, 59);
    border: black solid 1px;

    opacity: 1;
}

.opis_miasta{
    height: 35%;
    width: 50%;
    border-radius: 10px;

    margin: 20px;
    padding: 10px;
    background-color: white;
    
    display: flex;
    text-align: left;
    flex-direction: column;
    border: 1px solid black;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    .komentarze{
    height: 65%;
    width: 50%;
    border-radius: 10px;

    margin: 20px;
    padding: 10px;
    background-color: white;
    
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}


.zdjecia1 img{
    -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease;
}
.zdjecia1 img:hover {
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -webkit-transform: scale(1.3);
}


.zdjecia2 img{
    -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease;
}
.zdjecia2 img:hover {
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -webkit-transform: scale(1.3);
}




.container{
    background: #fff;
    padding: 20px;
    font-family: monospace;
}

.head{
    text-transform: uppercase;
    margin-bottom: 20px;
}

.text{
    margin: 10px 0;
    font-family: sans-serif;
    font-size: 0.9em;
}

.commentbox{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.content{
    width: 100%;
}

.uzytkownik{
    border: none;
    outline: none;
    margin: 5px 0;
    color: lightgray;
    margin-left: 20px;
    padding: 10px;
}

.commmentinput > input{
    border: none;
    padding: 10px;
    padding-left: 0;
    outline: none;
    border-bottom: 2px solid blue;
    margin-bottom: 10px;
    width: 95%;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: lightgray;
}

.buttons button{
    padding: 5px 10px;
    background: lightgray;
    color: #808080;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

.buttons button.abled{
    background: blue;
    color: white;
}

.cenzura{
    margin: 20px 0;
    font-size: 0.8em;
    font-family: Arial, sans-serif;
    color: #808080;
}

.cenzura a{
    text-decoration: none;
    color: blue;
}

.paterns{
    font-family: Arial, sans-serif;
    display: flex;
    margin-bottom: 30px;
}

.paterns h1{
    font-size: 0.9em;
}

.paterns p{
    margin: 10px 0;
    font-size: 0.9em;
}

.date{
    color: #808080;
    font-size: 0.8em;
}